<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<style>
  .jumbotron{
    margin-bottom: 0px;
  }
</style>
<body>
  {% include "quiz/navbar.html" %}
<br>
<section id="section-jumbotron" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
  <div class="container text-center">
    <h1 class="display-1 text-info">Let's Quiz</h1>
    <p class="display-4 d-none d-sm-block">Teste suas habilidades seja um mestre.</p>
    <p class="lead">Nos organizamos os quizes em varios topicos.</p>

    

    <p class="lead">Inscreva-se se ainda não o fez e tenha acesso a milhões de questionários sobre o tema de seu interesse .</p>
    <p><strong> Comece sua jornada aqui:</strong></p>
    <a href="/student/studentsignup" class="btn btn-lg btn-info" style="padding-right: 35px;"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</a>
    
    <br><br><br>
  </div>  
</section>
  {% include "quiz/footer.html" %}


</body>

</html>
